In [1]:
s = 'python'
s

'python'

In [3]:
s = '12\\34'
print(s)

'12\\34'

In [1]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [2]:
s = 'this\has\no\special\characters'
s

'this\\has\no\\special\\characters'

In [3]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [4]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [7]:
val = "espa√±ol"
val
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [19]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.time()

datetime.time(20, 30, 21)

In [1]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [4]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for c in seq:
    print('a={}'.format(c))

a=(1, 2, 3)
a=(4, 5, 6)
a=(7, 8, 9)

In [17]:
values = 1, 2, 3, 4,9
b, *r = values

In [1]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [5]:
b = ['saw', 'small', 'is', 'foxes', 'six']
b.sort(key=len)
b

['is', 'saw', 'six', 'small', 'foxes']

In [19]:
import bisect
c = [1, 2, 2,  3, 4, 7]
bisect.bisect(c,2.5)

3

In [50]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

In [61]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

In [65]:
for i, v in enumerate(some_list):
 mapping[v] = i

In [66]:
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

In [54]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [81]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

In [82]:
g=list(zipped)
g

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [83]:
n,m = zip(*g)

In [85]:
n,m

(('foo', 'bar', 'baz'), ('one', 'two', 'three'))

In [67]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)

In [68]:
first_names

('Nolan', 'Roger', 'Schilling')

In [69]:
last_names

('Ryan', 'Clemens', 'Curt')

In [93]:
list (reversed( range(7)))

[6, 5, 4, 3, 2, 1, 0]

In [90]:
range(8)

range(0, 8)

In [92]:
reversed(range(8))

In [6]:
set([2, 2, 8,2, 1, 3,7,6, 3])

{1, 2, 3, 6, 7, 8}

In [10]:
{2, 9,2, 2,7, 1, 3,4, 3}

{1, 2, 3, 4, 7, 9}

## Set

In [50]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [56]:
my_data = [1, 2, 3, 4]

In [59]:
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [62]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
def f():
 a = 5
 b = 6
 c = 7
 return {'a' : a, 'b' : b, 'c' : c}

In [64]:
f()

{'a': 5, 'b': 6, 'c': 7}

## Function

In [90]:
states = [' Alabama ', 'Georgia!', 'Georgia  ', 'georgia', 'FlOrIda','south carolina##', 'West virginia?']

In [91]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','', value)
        value = value.title()
        result.append(value)
    return result

In [92]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [8]:
str1 = 'GeeksforGeek'

upper = lambda a: a.upper()

In [11]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for k in some_dict:
    print(k)

a
b
c

In [16]:
# A generator function that yields 1 for first time, 
# 2 second time and 3 third time 
def simpleGeneratorFun(): 
	yield 1			
	yield 2			
	yield 3			

# Driver code to check above generator function 
for value in simpleGeneratorFun(): 
	print(value)

1
2
3