In [3]:
for i in range(1, 5):
    print("1st loop: ", i)
    for j in range(1,4):
        print("j= ", j)

1st loop:  1
j=  1
j=  2
j=  3
1st loop:  2
j=  1
j=  2
j=  3
1st loop:  3
j=  1
j=  2
j=  3
1st loop:  4
j=  1
j=  2
j=  3

In [9]:
a= float(input("Enter 1st digit: "))
Operator= input("Enter an Operator: ")
b= float(input("Enter 2nd digit: "))

if "+"==Operator:
    sum=a+b
    print(sum)
elif "-"==Operator:
    sub=a-b
    print(sub)
elif "*"==Operator:
    Mul=a*b
    print(Mul)
elif "/"==Operator:
    div=a/b
    print(div)

17.0

In [9]:
month = ["Janary","Febrary","March"]
for i in month :
    print(i)
    for j in range(1,11):
        print(j)
        if j==10:
            print("\n")

Janary
1
2
3
4
5
6
7
8
9
10


Febrary
1
2
3
4
5
6
7
8
9
10


March
1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1,11):
    for j in range(1,11):
        m=i*j
        print("{}*{}={}".format(i,j,m))
        if j==10:
            print("\n")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10


2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20


3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30


4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40


5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50


6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60


7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70


8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80


9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90


10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [1]:
x = 35e3
x

35000.0

In [2]:
y = 12E4
y

120000.0

In [4]:

z = -87.7e100
print(z)

-8.77e+101

In [6]:
x = 3+5j
x

(3+5j)

In [7]:
y = 5j
y

5j

In [ ]:


z = -5j

## Python Strings

In [9]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(type(a))

<class 'str'>

In [13]:
a = "Hello, World!"
print(a[6])

In [14]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [15]:
a = "Hello, World!"
print(len(a))

13

In [22]:
#Check String
txt = "The best things in life are free!"
print("free" in txt)

True

In [19]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [23]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

## Python - Slicing Strings
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [24]:
b = "Hello, World!"
print(b[2:5])

llo

In [25]:
b = "Hello, World!"
print(b[:5])

Hello

In [26]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [27]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Modify Strings

In [28]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [29]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [30]:
# Remove Whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [33]:
# Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [34]:
# Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## String Concatenation

In [36]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [37]:
str_list = ['Python', 'is', 'fun']
result = ' '.join(str_list)
print(result)

Python is fun

In [38]:
# Format - Strings
# Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [40]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [9]:
pow(10,12)

1000000000000

In [5]:
1024*1024*1024

1073741824

In [4]:
pow(2,30)

1073741824

# Step-1: Python Loops

    | range() Function
Syntax: range(start, stop, step)

In [10]:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [11]:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

<font color ='Yellow'>  For Loops  </font> |

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [13]:
# Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [14]:
# break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [15]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [16]:
# continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [17]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [18]:
range(2, 30, 3)

range(2, 30, 3)

<font color="yellow"> While Loop </font>

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

- The break Statement

With the break statement we can stop the loop even if the while condition is true:

In [1]:
# Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

- The continue Statement

With the continue statement we can stop the current iteration, and continue with the next:

In [2]:
# Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

<font color="Yellow"> Nested Loops </font>   
- A nested loop is a loop inside a loop.
- The "inner loop" will be executed one time for each iteration of the "outer loop":

In [19]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

- The pass Statement

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [20]:
for x in [0, 1, 2]:
  pass

# Step-2: Python Collections (Arrays)
There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members.

<font color="yellow"> Python Lists</font> 
* List items are ordered, changeable, and allow duplicate values.

* List items are indexed, the first item has index [0], the second item has index [1] 
etc.
* Changeable: The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

* Allow Duplicates: Since lists are indexed, lists can have items with the same value:

In [21]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [22]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [23]:
# Access List Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [47]:
# Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [48]:
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [25]:
# Range of Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [26]:
# This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [27]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [29]:
# Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Change List Items

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [31]:
# Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

## Insert Items
* To insert a new list item, without replacing any of the existing values, we can use the insert() method.

* The insert() method inserts an item at the specified index:

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Append Items
To add an item to the end of the list, use the append() method:

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

## Extend List
To append elements from another list to the current list, use the extend() method.

In [36]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# Add Any Iterable
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [37]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove List Items
* The remove() method removes the specified item.

In [38]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [39]:
# Remove the first occurance of "banana":

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [40]:
# Remove Specified Index
# The pop() method removes the specified index.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [41]:
# Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [42]:
# Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [43]:
# Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

## Clear the List
* The clear() method empties the list.

* The list still remains, but it has no content.

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Loop Lists

In [45]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [46]:
# Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

<font color="yellow"> Python Tuples </font> 
* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
* Since tuples are indexed, they can have items with the same value:

In [49]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [50]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [52]:
# A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

In [53]:
# Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Access Tuple Items

In [54]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [55]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

### Update Tuples
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [56]:
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [59]:
# Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [61]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

In [ ]:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

### Unpack Tuples

In [63]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

<font color="yellow"> Python Sets </font>
* A set is a collection which is unordered, unchangeable*, and unindexed.
* Note: Set items are unchangeable, but you can remove items and add new items.
* Note: Sets are unordered, so you cannot be sure in which order the items will appear.

* Set Items: Set items are unordered, unchangeable, and do not allow duplicate values.

* Unordered: Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

* Unchangeable: Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

* Duplicates Not Allowed: Sets cannot have two items with the same value.

In [68]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [72]:
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [70]:
# True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [71]:
# False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [73]:
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

# Access Set Items
* You cannot access items in a set by referring to an index or a key.
* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [2]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [ ]:
thisset[0]

# Add Set Items
* Once a set is created, you cannot change its items, but you can add new items.

In [6]:
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [77]:
# To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'cherry', 'pineapple', 'apple', 'banana'}

### Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [78]:
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'apple', 'banana', 'cherry', 'orange'}

###  Remove Set Items

In [79]:
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [80]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [7]:
# Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

#print(x)

print(thisset)

{'banana', 'cherry'}

In [82]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

In [84]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

### Python - Join Sets
Note: Both union() and update() will exclude any duplicate items.

In [85]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [86]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'a', 'c'}

### Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.

In [88]:
# The intersection_update() method will keep only the items that are present in both sets.
# Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [89]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

### Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [90]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'cherry', 'google'}

In [91]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'cherry', 'google'}

<font color="yellow"> Python Dictionary </font> 
* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a collection which is ordered*, changeable and do not allow 
* When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
* Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.
* Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
* Dictionaries cannot have two items with the same key:

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [4]:
print(thisdict["brand"])

Ford

In [2]:
# Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [3]:
# String, int, boolean, and list data types:

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [4]:
# Using the dict() method to make a dictionary:

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

### Access Dictionary Items

In [5]:
# Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x

'Mustang'

In [6]:
# There is also a method called get() that will give you the same result:
# Get the value of the "model" key:

x = thisdict.get("model")
x

'Mustang'

In [7]:
# The keys() method will return a list of all the keys in the dictionary.
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [12]:
# Get a list of the values:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [10]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:
thisdict["color"] = "white"

print(thisdict) #after the change

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [13]:
# Make a change in the original dictionary,
thisdict["year"] = 2020

print(thisdict) #after the change

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'white'}

In [14]:
# Get a list of the key:value pairs
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'white')])

In [15]:
# Check if "model" is present in the dictionary
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [18]:
if "mod" not in thisdict:
      print("no , 'mod' is one of the keys in the thisdict dictionary")

no , 'mod' is one of the keys in the thisdict dictionary

In [20]:
# Update the "year" of the car by using the update() method:


thisdict.update({"year": 2020})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'white'}

In [21]:
# Add a color item to the dictionary by using the update() method:

thisdict.update({"color": "red"})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

In [22]:
# The pop() method removes the item with the specified key name:

thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 2020, 'color': 'red'}

In [23]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):


thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'year': 2020}

In [24]:
# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [26]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [27]:
# Print all key names in the dictionary, one by one:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [30]:
# You can use the keys() method to return the keys of a dictionary:

for x in thisdict.keys():
  print(x)

brand
model
year

In [28]:
# Print all values in the dictionary, one by one:

for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [29]:
# You can also use the values() method to return values of a dictionary:

for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [31]:
# Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

### Nested Dictionaries

In [32]:
# Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [34]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [35]:
# Access Items in Nested Dictionaries
print(myfamily["child2"]["name"])

Tobias

# Step-3: Python Functions
- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a result.

- In Python a function is defined using the def keyword
- To call a function, use the function name followed by parenthesis

In [4]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

### Arguments
- Information can be passed into functions as arguments.
- Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

Note:
- A parameter is the variable listed inside the parentheses in the function definition.
- An argument is the value that is sent to the function when it is called.

In [6]:
def my_function(fname):
  print(fname)

my_function("Jhon")
my_function("Smith")
my_function("Carry")

Jhon
Smith
Carry

In [38]:
def my_function(fname, lname):
  name = fname + " " + lname
  print(name)

my_function("Jhon", "Smith")

Jhon Smith

Note: If you try to call the function with 1 or 3 arguments, you will get an error:

### Arbitrary Arguments, *args
- If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
- This way the function will receive a tuple of arguments, and can access the items accordingly:

In [41]:
def my_function(*kids):
  print("The youngest child is " + kids[0], kids[1],kids[2])

my_function("Mery", "Tobias", "Linus")

The youngest child is Mery Tobias Linus

### Keyword Arguments
- You can also send arguments with the key = value syntax.
- This way the order of the arguments does not matter.

In [36]:
def my_function(animal3, animal2, animal1):
  
  Animal= animal1 + " " + animal2 + " " + animal3
  print(Animal)
  print("That was a " +animal3,animal2,"or", animal1)

my_function(animal1 = "Cat", animal2 = "Dog", animal3 = "goat")

Cat Dog goat
That was a goat Dog or Cat

### Arbitrary Keyword Arguments, **kwargs
- If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
- This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [48]:
def my_function(**kid):

  print(kid["fname"] + " " + kid["lname"])

my_function(fname = "Jhon", lname = "Smith")

Jhon Smith

### Default Parameter Value
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [52]:
def my_function(country = "Bangladesh"):
  print("I am from " + country)

my_function()
my_function("Sweden")
my_function("India")
my_function("Brazil")

I am from Bangladesh
I am from Sweden
I am from India
I am from Brazil

### Passing a List as an Argument

In [59]:
def my_function(Animal):
  for i in Animal:
    print(i)

list = ["Cat", "Dog", "Camel"]

my_function(list)

Cat
Dog
Camel

### Return Values

In [67]:
# To let a function return a value, use the return statement:

def my_function(x):
  return 5 * x


print(my_function(3))
print(my_function(5))

15
25

In [66]:
def my_function(x):
  return 5 * x

m=my_function(7)
print(m)

35

### The pass Statement
- function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def myfunction():
  pass

In [1]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [11]:
def fact(x):
    if x==1:
        return 1
    else:
        return x*fact(x-1)
    

print(fact(5))

120

In [15]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print("Outputt: ",result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
Outputt:  1
Outputt:  3
Outputt:  6
Outputt:  10
Outputt:  15
Outputt:  21

21

### Python Lambda

- A lambda function is a small anonymous function.

- A lambda function can take any number of arguments, but can only have one expression.

Syntax: lambda arguments : expression

In [16]:
# Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))

15

In [17]:
# Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [18]:
# Summarize argument a, b, and c and return the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

### Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

In [28]:
def myfunc(n):
  return lambda a : a * n

lam = myfunc(3)

print(lam(11))

33